body{
    font-family: 'Noto Serif', serif;
    margin: 0;    
}
h1{
    font-size: 50px;
}
.orange{
    color: coral;
    background-color: floralwhite;
}
#intro{
    color: royalblue;
}
.flexibale-container{
    display: flex;
    margin-bottom: 150px;

}
.width{
    width: 50%;
    padding-left: 10%;
}
.width img{
    width: 70%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(blue,royalblue);
    border-radius: 8%;
    padding: 10px 15px;
    color: white;
    font-weight: 700;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.link2{
    text-decoration: none;
    background-image: linear-gradient(orange,yellow);
    border-radius: 8%;
    padding: 10px 15px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.width4{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px orangered;

}
#flex{
    border-left: 7px solid;
    border-color: rgb(255, 145, 0);
    border-image-slice: 1  
}
#flex2{
    border-left:7px solid;
    border-color: tomato;
    border-image-slice: 1;
}

